<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kingdom Rush - Encyclopédie</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <header>
        <h1>Kingdom Rush DB</h1>
        <nav>
            <a href="" data-link>Accueil</a>
            <a href="heroes" data-link>Héros</a>
            <a href="enemies" data-link>Bestiaire</a>
            <a href="favorites" data-link>Favoris</a>
        </nav>
    </header>

    <main id="app">
        </main>

    <script type="module" src="/src/main.js"></script>

</body>
</html>